.servicesContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    line-height: 1.6;

    h1{
        font-size: 2.5rem;
        font-weight: bold;
        color: var(--gray-900);
    }

    p{
        text-align: center;
        overflow-wrap: break-word;
    }
}
 
.servicesContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 20px);
    margin: 0 auto;
  }

@media (max-width: 768px) {
    .servicesContent {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100vw;
        align-items: center;
    }
}