.formLoginContainer{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
        text-align: center;
    }

    .formContent{

        gap: 1.5rem;
        display: flex;
        justify-content: center;

        div{
            margin-top: 1rem;
        }

        .buttonSubmitContainer{
            display: flex;
            align-self: center;
            justify-content: center;
        }

        .passwordContainer{
            display: flex;
            align-items: center;
            border: 1px solid #ccc;
            border-radius: 3px;
          
            input{
                padding: 0.60rem;
                width: 100%;
                font-size: 1rem;
                border: 0;
                outline: none;
                margin: 0;
            }
          
            button{
                font-size: 1.2rem;
                border:none;
                background-color: transparent;
            }
            
            span{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 2rem;
                height: 2rem;
            }
          }

        

    }
}