.formLoginContainer{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .formContent{
        gap: 1.5rem;
        display: flex;
        justify-content: center;
        
        div{
            margin-bottom: 0.75rem;


        }

        .spanDiv{
            text-align: center;

            span{
                font-weight: 300;
                color: rgb(248, 26, 26);
            }
        }

        
        .buttonSubmitContainer{
            display: flex;
            align-self: center;
            justify-content: center;
        }
    }
}