.mainDiv{
    display: flex;
    flex-direction: row;
    float: left;
}

.nav{
    height: 100vh;
    min-width: 35px;
    max-width: 40px;
    width: 5vw;
    border: 1px solid rgb(194, 194, 194);

    position: fixed;
    overflow: hidden;

    .actions{
        display: flex;
        flex-direction: row;
        .expand{
            padding: 0.4rem;
            font-size: 1.5rem;
        }

        .themeSwitcher{
    
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        
            .switch{
                display: none;
            }

            .switchLabel{
                display: inline-block;
                width: 40px;
                height: 20px;
                background-color: #ccc;
                border-radius: 10px;
                position: relative;
                cursor: pointer;
            }

            .switchLabel:after {
                content: "";
                position: absolute;
                top: 2px;
                left: 2px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
                transition: transform 0.2s ease-in-out;
              }

              .switch:checked + .switchLabel {
                background-color: #5e8ee4;
              }
              
              .switch:checked + .switchLabel:after {
                transform: translateX(20px);
              }
        }
    }
    
    


    ul{
        height: 100%;
        list-style-type: none;
    }

    .link{
        text-decoration: none;
        color: var(--gray-800);
        align-items: center;
        align-content: center;

        .item{
            transition: 0.2s;
            font-size: 1.2rem;
            padding: 0.5rem 15%;
            display: flex;
            border: 1px solid rgb(194, 194, 194);
            font-weight: 500;
 
            .icon{
                display: flex;
                align-items: center;
            }

            .text{
                padding-left: 1rem;
            }
        }

        .item:hover{
            background-color: var(--gray-100);
            border-left: 3px solid var(--blue-500);
            color: var(--blue-500);
        }
    }
}

.nav:hover{
    width: 15vw;
    min-width: 170px;
    max-width: 210px;
    transition: 0.3s;

    .item{
        padding: 0.5rem 4%;
    }

}

