.requirements{
    color: red;
    
    div{
        display: flex;
        justify-content: center;
    }

    .icon{
        vertical-align: middle;
    }

    &.valid{
        color: green;
    }

}