.formLoginContainer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1{
        text-align: center;
        margin-bottom: 0.5rem;
    }

    .formContent{
        gap: 1.5rem;
        display: flex;
        justify-content: center;
        
        div{
            margin-bottom: 0.60rem;
        }

        .radioDiv{
            display: flex;
            align-items: center;
            width: 22rem;

            input{
                width: 10%;
                display: inline-block;
                vertical-align: middle;
                white-space: nowrap;
            }
            
            label{
                word-wrap: break-word;
            }

        }

        .spanDiv, .pDiv{
            padding-top: 0.5rem;
            text-align: center;
            width: 22rem;

            span{
                font-weight: bold;
                color: rgb(255, 58, 58);
                word-wrap: break-word;
            }
        }

        .pDiv{
            a{
                text-decoration: none;
            }
        }

        .buttonSubmitContainer{
            margin-top: 1rem;
            display: flex;
            align-self: center;
            justify-content: center;
        }
    }
}