.featureContainer {
    /*background-image: url("../../../public/Feature.svg");
    background-size: cover;
    background-repeat: no-repeat;*/
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #ccc;
    
    * {
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
        top: -10%;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        font-weight: bold;
        color: var(--gray-900);
      }
      
      p {
        font-size: 1.2rem;
        line-height: 1.6;
        color: #444;
        margin-bottom: 30px;
      }

    button{
        background-color: var(--purple-500);
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 10px 20px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
        transition: all 0.3s ease;
    }

    button:hover{
        background-color: var(--dark-slate-blue);
        box-shadow: 4px 4px 4px rgba(0,0,0,0.4);
    }
}