.contactConteiner{
    display: flex;
    width: 100%;
    flex-direction: column;

}

.contactContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    margin: 1rem;
    padding: 1rem;
    padding-bottom: 2rem;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    img{
        width: 40vw;
    }

    h3{
        margin-bottom: 1rem;
    }

    p{
        margin: 0.5rem 0;
        font-weight: bold;
        
    }

    form {
        margin-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-items: flex-start;
        margin-top: 20px;

        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            align-items: flex-start;
            margin: 1rem 2rem;
            width: 100%;

        }

        span{
            margin: 1rem;
            align-self: center;
        }


    }

}
