.headerContainer{
    position: fixed;
    display: flex;
    background-color: rgba(0,0,0,0);

    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    padding: 0 2rem;
    height: 5rem;
    top:0;
    width: 100vw;
    box-shadow: 0 0 5px grey;

    z-index: 50;
    
    .link{
        text-decoration: none;
    }

    h1{
        font-size: 1.5rem;
    }

    span{
        
        font-weight: 400;
    }

    h1, span, .BsFillTelephoneFill,.GiHamburgerMenu, .CgNotes{
        cursor: pointer;
        color: var(--dark-slate-blue);

        &:hover{
            color: var(--gray-600);
            transition: color 1s;
        }
    }
    
    div{
        display: flex;
        align-items: center;
        gap: 1rem;
    
        *{
            font-size: 1.5rem;
        }
    }

}

.GiHamburgerMenu{
    color: var(--dark-slate-blue);
}

@media (max-width: 768px){
    .headerContainer{
        padding: 0 1rem;
        height: 4rem;
        width: auto;
        h1{
            font-size: 1.2rem;
        }
        span{
            font-size: 0.8rem;
        }
        div{
            gap: 0.5rem;
            *{
                font-size: 1.2rem;
            }
        }
    }
}