.cardContainer {
  display: grid;
  width: calc(30% - 0.30rem);
  grid-template-rows: (3,1fr);
  gap: 20px;
  margin-bottom: 1rem;

  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
      object-fit: cover;
      border-radius: 0 1rem 1rem 1.5rem;
    }
  }

  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .cardDescriptionContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

  }
}










@media (max-width: 768px) {
    .cardContainer {
        width: 100%;
        margin-bottom: 1.5rem;
    }
}